/* Custom Properties */
:root {
    --bs-primary: #AAB981;
    --bs-secondary: #666C2E;
    --bs-yellow: #F9B848;
    --bs-orange: #E06233;
}

/* Custom CSS – Mobile-First Approach */

/* Setting Fonts */
p, nav, li {
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, button, .button, footer p, label, .price {
    font-family: 'Paytone One', sans-serif;
    font-weight: normal;
    letter-spacing: 0.2px;
}

h3 {
    font-size: 20px;
}

.button {
    text-decoration: none;
}

.price {
    font-size: 24px;
}

/* Styling Buttons */
.btn-solid-white {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    padding: 0.25em 1.5em;
    transition: 0.1s linear;
}

.btn-solid-white a {
    color: #000;
    text-decoration: none;
    transition: 0.1s linear;
}

.btn-solid-white:hover {
    background-color: rgb(255, 255, 255, 0%);
    color: #fff;
    box-shadow: 2px 2px 4px rgb(255, 255, 255, 50%) inset;
    transition: 0.1s linear;
}

.btn-solid-white a:hover {
    color: #fff;
    transition: 0.1s linear;
}

.btn-solid-green {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 0.25em 1.5em;
    transition: 0.1s linear;
}

.btn-solid-green:hover {
    background-color: var(--bs-secondary);
    box-shadow: 2px 2px 4px #000 inset;
    transition: 0.1s linear;
}

.btn-solid-orange {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 0.25em 1.5em;
    transition: 0.1s linear;
}

.btn-solid-orange:hover {
    background-color: var(--bs-orange);
    box-shadow: 2px 2px 4px #000 inset;
    transition: 0.1s linear;
}

.btn-outline-green {
    background-color: rgb(0, 0, 0, 0);
    color: #000;
    border: 2px solid #000;
    padding: 0.25em 1.5em;
    transition: 0.1s linear;
}

.btn-outline-green:hover {
    background-color: var(--bs-secondary);
    box-shadow: 2px 2px 4px #000 inset;
    transition: 0.1s linear;
}

.btn-outline-orange {
    background-color: rgb(0, 0, 0, 0);
    color: #000;
    border: 2px solid #000;
    padding: 0.25em 1.5em;
    transition: 0.1s linear;
}

.btn-outline-orange:hover {
    background-color: var(--bs-orange);
    box-shadow: 2px 2px 4px #000 inset;
    transition: 0.1s linear;
}

/* Styling Header */
.banner {
    background-image: url(../images/banner-mobile.jpg);
    background-size: cover;
    background-position: bottom;
    height: 90vh;
}

nav button {
    border: none;
    background-color: rgb(0, 0, 0, 0%);
}

header h1 {
    color: var(--bs-yellow);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 50%);
    position: absolute;
    top: 70vh;
}

/* Home Page */

/* Styling "About" Section */
.about img {
    border: 4px solid var(--bs-yellow);
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* Styling "Learn More" Section */
.learn-more {
    background-color: var(--bs-primary);
    border: 4px solid var(--bs-secondary);
    width: 110%;
    height: 25vh;
    margin-left: -4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more .wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-more p {
    font-size: 18px;
}

/* Styling "Services" Section */
.services-web, .services-photo {
    background-color: var(--bs-yellow);
    border: 4px solid var(--bs-orange);
}

.services-graphic, .services-video {
    background-color: var(--bs-primary);
    border: 4px solid var(--bs-secondary);
}

.services div {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
}

.services h3 {
    padding-bottom: 0.2em;
}

.services p {
    padding: 0.5em 1em;
}

/* Styling "Contact" Section */
.contact {
    background-color: var(--bs-yellow);
    border: 4px solid var(--bs-orange);
    width: 110%;
    height: 25vh;
    margin-left: -4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    padding: 0 2em;
}

/* About Page */

/* Styling "Meet the Team" Section */
.team {
    background-color: var(--bs-primary);
    border: 4px solid var(--bs-secondary);
    width: 110%;
    /* height: 25vh; */
    margin-left: -4.5%;
}

.team .wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team img {
    width: 70%;
    padding: 1em 0;
    border-radius: 50%;
}

/* Styling "Blog" Section */
.blog p {
    font-size: 18px;
}

/* Styling "Testimonials" Section */
.testimonials {
    background-color: var(--bs-yellow);
    border: 4px solid var(--bs-orange);
    width: 110%;
    margin-left: -4.5%;
}

.testimonials img {
    width: 30%;
    padding: 1em 0;
    border-radius: 50%;
}

/* Services Page */

/* Styling "Web Design" & "Photography" Sections */
.web-design img, .photography img {
    border: 4px solid var(--bs-yellow);
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.web-design .project-img, .photography .project-img {
    background-image: url(../images/past-project-1.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 110%;
    margin-left: -5%;
}

.photography .project-img {
    background-image: url(../images/past-project-3.jpg);
}

.project-img .shadow {
    background-color: rgb(0, 0, 0, 25%);
    height: 25vh;
}

/* Styling "Graphic Design" & "Videography" Sections */
.graphic-design img, .videography img {
    border: 4px solid var(--bs-primary);
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.graphic-design .project-img, .videography .project-img {
    background-image: url(../images/past-project-2.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 110%;
    margin-left: -5%;
}

.videography .project-img {
    background-image: url(../images/past-project-4.jpg);
}

/* Styling "Pricing" Section */
.web-pricing, .photo-pricing {
    background-color: var(--bs-yellow);
    border: 4px solid var(--bs-orange);
}

.graphic-pricing, .video-pricing {
    background-color: var(--bs-primary);
    border: 4px solid var(--bs-secondary);
}

.package-pricing {
    background-color: #fff;
    border: 4px solid var(--bs-yellow);
}

/* Contact Page */

/* Styling "Contact Us" Section */
.contact-form input, .contact-form textarea {
    width: 100%;
    border: 2px solid var(--bs-yellow);
}

.contact-form textarea {
    height: 20vh;
}